@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Yeon+Sung&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Yeon Sung', cursive;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #A6BB8D;
    
}

main{
    width: 70%;
    max-width: 430px;
    height:840px ;
    padding: 30px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    background-color: #EAE7B1;
}

#checkout-title{
    margin: 10px;
    text-align: center;
}
.product{
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
 
    margin: 10px 20px;
   
}

img{
    width: 200px;
    height: 180px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    
}

h2{
    margin: 5px;
}
 p strong{
    color: orangered;
    margin: 3px;
 }

 p span{
    text-decoration: line-through;
 }
 .quantity-controller{
    display: flex;
    align-items: center;
    margin: 5px;
    border: 1px solid black;
    border-radius: 6px;
    padding: 7px;
    width: 100px;
 }

 i{
    border: 1px solid black;  
    padding: 4px;
    border-radius: 4px;
    background-color: rgb(192, 192, 192);
 }

 .quantity{
    margin:0 24px;
 }

 .remove-product{
    padding: 7px;
    border-radius: 7px;
   
    margin: 5px;
    background-color: rgb(192, 192, 192);

 }

 .product-line-price{
    margin: 5px;
 }

 /* Cart Start*/


 .buy-detail{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    border-top: 1px solid black;
 }